@import url('../../public/assets/css/style.css');
@import url('../../public/assets/css/style2.css');
@import url('../../public/assets/vendor/bootstrap/css/bootstrap.css');
@import url('../../public/assets/vendor/font-awesome/css/font-awesome.min');
@import url('../../public/assets/vendor/ionicons/css/ionicons.min.css');
/* @import url('../../public/assets/vendor/aos/aos.css'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700');
@import '@rainbow-me/rainbowkit/styles.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
